<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <script src="../static/order.js" defer></script>
    <link rel="stylesheet" href="../static/order.css">
</head>
<body>
<main>
    <div class="content">
        <label for="order-id" class="text">
            Введите Id заказа
        </label>
        <input type="text" id="order-id" class="text">
        <button class="text" onclick="fetchOrder()">Найти</button>
        <div id="order">

        </div>
    </div>
</main>
</body>
</html>